<ion-view view-title="Quiz" >
  <ion-content class="has-subheader" >
  
<ion-list>
    <ion-item  class="item item-thumbnail-left item-icon-right " type="item-text-wrap">

        <img src="img/past.jpeg" />
        <h2 style="margin-bottom:6px; margin-top:4px">Past Questions</h2>
        <p >Try out the most recent and most relevant past questions... </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-balanced" ui-sref="tab.past" >
            <i class="ion ion-play" style="font-size:30px"></i>
        </ion-option-button>
    </ion-item>
    <ion-item class="item item-thumbnail-left item-icon-right " type="item-text-wrap">

        <img src="img/random.jpg" />
        <h2 style="margin-bottom:6px; margin-top:4px">Online Questions</h2>
        <p>Access our online question store </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-balanced">
            <i class="ion ion-play" style="font-size:30px"></i>
        </ion-option-button>
    </ion-item>
    <ion-item class="item item-thumbnail-left item-icon-right " type="item-text-wrap">

        <img src="img/free.jpg" />
        <h2 style="margin-bottom:6px; margin-top:4px">Free Questions</h2>
        <p>Test your FORTRAN skills for free... </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-balanced">
            <i class="ion ion-play" style="font-size:30px"></i>
        </ion-option-button>
    </ion-item>
</ion-list>
   
  </ion-content>
</ion-view>
